@import 'style/variables.module';

$progress-bar-height: 4px;
$container-height: -4px;

.scrubbingBar {
  @include transition-background-color;

  position: absolute;
  z-index: $overlay-z-index + 1;
  width: $device-width;
  height: $progress-bar-height;
  background-image: linear-gradient(0deg, rgb(0 0 0 / 50%), rgb(0 0 0 / 50%));
}

.progressPlayed {
  z-index: $scrubber-z-index + 1;
  background-color: $white;
  width: 2px;
  height: 100%;
}

.timestampContainer {
  position: absolute;
  transform: translate(0%, -38px);
  width: 100%;
}

.timestampInnerContainer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin:auto;
  font-size: 20pt;
  font-weight: bold;
  color: rgb(255 255 255 / 50%);
}

.rainbow {
  background: linear-gradient(125deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 400% 400%;
  animation: rainbow 3s linear infinite;
}

@keyframes rainbow { 
  0%{background-position:0% 0%}
  25%{background-position:0% 50%}
  50%{background-position:0% 100%}
  75%{background-position:0% 50%}
  100%{background-position:0% 0%}
}