@import 'style/variables.module';

.container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 40px;
  padding-top: 8px;
}

.clockText {
  font-size: 28px;
  font-weight: bolder;
  opacity: 0.5;
}

.clockTextOtherMedia {
  font-size: 44px;
  font-weight: bolder;
  opacity: 0.5;
  padding-top: 8px;
}
